<h1>Login</h1>

<%- include('../partials/messages') %>

<form action="/login" method="POST">
    <div>
        <label for="userName">User name:</label>
        <input type="text" name="userName" id="v" value="<%= typeof userName != 'undefined' ? userName : '' %>">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>
<a href="/register">Register</a>