<h1 class="text-4xl text-primary lg:mb-12 mb-4">Login</h1>

<form action="/login" method="POST" class="form">
    <%- include('../partials/messages') %>

    <label for="userName" class="form-label">User name:</label>
    <input type="text" name="userName" id="userName" class="form-input-text"
        value="<%= typeof userName != 'undefined' ? userName : '' %>">

    <label for="password" class="form-label">Password:</label>
    <input type="password" name="password" id="password" class="form-input-text">

    <input type="submit" value="Login" class="form-button">
</form>