<h1 class="text-4xl text-primary lg:mb-12 mb-4">Register</h1>

<form action="/register" method="POST" class="form">
    <%- include('../partials/messages') %>

    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" id="username" class="form-input-text"
        value="<%= typeof username != 'undefined' ? username : '' %>">

    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" id="email" class="form-input-text"
        value="<%= typeof email != 'undefined' ? email : '' %>">

    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" id="password" class="form-input-text"
        value="<%= typeof password != 'undefined' ? password : '' %>">

    <input type="submit" value="Register" class="form-button">

</form>