<header>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li>
                <a href="/games">Games</a>
            </li>
            <li>
                <a href="/games/new">New game</a>
            </li>
        </ul>
    </nav>
</header>