<header class="border-b border-primary">
    <div class="container max-w-screen-lg flex flex-wrap items-center">
        <div class="flex-1 flex justify-between items-center">
            <a href="/">#LOGO#</a>
        </div>

        <label for="menu-toggle" class="cursor-pointer lg:hidden block lg:py-0 py-3">
            <svg class="fill-current text-primary" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                viewbox="0 0 20 20">
                <title>menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </label>
        <input type="checkbox" class="hidden" id="menu-toggle" />

        <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
            <nav class="lg:pb-0 pb-4">
                <ul class="lg:flex lg:items-center lg:justify-between text-right text-base font-medium">
                    <% if (typeof user != 'undefined') { %>
                    <li>
                        <a href="/games" class="nav-item">Games</a>
                    </li>
                    <li>
                        <a href="/games/new" class="nav-item">New game</a>
                    </li>
                    <li>
                        <a href="/logout" class="nav-item text-red-600 hover:border-red-600">Logout</a>
                    </li>
                    <% } else { %>

                    <li>
                        <a href="/register" class="nav-item text-primary">Register</a>
                    </li>
                    <li>
                        <a href="/login" class="nav-item">Login</a>
                    </li>
                    <% } %>

                </ul>
            </nav>
            <!-- <a href="#" class="lg:ml-4 flex items-center justify-start lg:mb-0 mb-4 pointer-cursor">
                yeet
            </a> -->
        </div>
    </div>
</header>