<header class="border-b border-primary">
    <div class="container max-w-screen-lg flex flex-wrap items-center">
        <div class="flex-1 flex justify-between items-center">
            <a href="/">#LOGO#</a>
        </div>
        <div class="flex items-center w-auto" id="menu">
            <nav>
                <ul class="flex items-center justify-between text-right text-base font-medium">
                    <li>
                        <a href="/login" class="unauthorised-nav-item">Login</a>
                    </li>
                    <li>
                        <a href="/register" class="unauthorised-nav-item text-primary">Register</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>