<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8a86938b9e.js" crossorigin="anonymous"></script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        #menu-toggle:checked+#menu {
            display: block;
        }
    </style>
    <title>Gaming Platform</title>
</head>

<body class="min-h-screen bg-secondary-light text-tertiary">
    <% if (typeof user != 'undefined') { %>
    <%- include('../partials/header') %>
    <% } else { %>
    <%- include('../partials/unauthenticatedHeader') %>
    <% } %>
    <main class="container max-w-screen-lg min-h-full antialiased lg:my-12 my-4">
        <%- body %>
    </main>
    <script src="/js/formUtil.js"></script>
    <script src="/js/messageUtil.js"></script>
</body>

</html>