<h1 class="page-title">Tournament detail</h1>

<%- include('../partials/messages') %>

<% if (typeof user != 'undefined') { %>
<% if (tournament.inscriptions.includes(user.username)) { %>
<form action="/tournaments/<%= tournament._id %>/unregister" method="POST">
    <input class="form-button bg-secondary-light border border-primary text-primary" type="submit" value="Unregister">
</form>
<% } else { %>
<form action="/tournaments/<%= tournament._id %>/register" method="POST">
    <input class="form-button" type="submit" value="Register">
</form>
<% } %>
<% } else { %>
    <a href="/login?redirect=/tournaments/<%= tournament._id %>" class="form-button">Login</a>
<% } %>