<h1>New Game</h1>

<form action="/games" method="POST">
    <%- include('./_form_fields') %> 
    <div>
        <a href="/games">Cancel</a>
        <input type="submit" value="Create">
    </div>
</form>